*.o
*.lo
*.obj
*.exe
*.dylib
*.so
*.a
*.la
*.in
*.cat
*.log
.deps
.libs
aclocal.m4
Makefile
Makefile.in
/configure
/autom4te.cache
/depcomp
/config.h
/config.status
/config.cache
/config.guess
/config.sub
/install-sh
/missing
/stamp-h*
/libtool
/ltmain.sh
/lt~obsolete.m4
/ltoptions.m4
/ltsugar.m4
/ltversion.m4
/libtool.m4